<% if current_user && current_user.friends.any?  %>
 <% current_user.friends.each do |friend| %>
   <%= friend.name %>
  <%= button_to 'Goat Bomb', friend_path(friend.id), :method => :get %>

   <% end %>
 <% else %>
 <h1>You have no friends!</h1>
 <% end %>
<h2> <%= link_to "Add a friend", new_friend_path %> </h2>
