<html>
 <head>
   <title>Post a Goat</title>
   <%= stylesheet_link_tag    'application', media: 'all' %>
   <%= javascript_include_tag 'application' %>
   <%= csrf_meta_tags %>
 </head>
 <body ng-app="goatApp">
   <div class="ui-view"></div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
       <h1>Post a Goat</h1>
     </div>
    <div>
     <div ng-repeat="friend in friends">
       Name: {{friend.name}} Phone: {{friend.phone_number}}
     </div>
     <form ng-submit="addFriend()">
       <input type="text" ng-model="name" placeholder="Name"/>
       <input type="text"  ng-model="phone_number" placeholder="Phone Number" />
       <input type="submit" value="Add Friend"/>
     </form>
    </div>
  </script>
 </body>
</html>
